{% extends 'archinator/base.html' %}
{% block content %}
    <div class="container my-3">
        <p> Q. If so, are you experiencing any of these symptoms? (If you have any, please click Yes.) </p>
        <p>  - Are you losing weight? </p>
        <p>  - Are you tired of most of your daily life? </p>
            <div class="container my-3">
                <p><a href="{% url 'archinator:question' part.id symptom.id 102 %}"> Yes </a></p>
                <p><a href="{% url 'archinator:question' part.id symptom.id 2%}"> No </a></p>
            </div>
    </div>
{% endblock %}